<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <script defer src="/static/js/script.js"></script>
    <title><%= title %></title> 
</head>
<body>
    <div class="wrapper">
        <h1><%= heading %></h1> 
        <div class="a">
            <a href="/date">переход на страницу date</a> 
            <br/>
            <a href="/post/all">переход на страницу posts</a> 
            <br/>
            <a href="/user">переход на страницу user</a> 
            <br/>
            <a href="/comments">переход на страницу comments</a> 
        </div>
        <p><%= pageDescription %></p> 
    </div>
</body>
</html>
