<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/posts.css"> 
    <title><%= title %></title>
</head>
<body>
    <div class="all">
        <a href="/">переход на страницу index</a> 
        <% posts.forEach((post) => { %>
            <div class="posts">
                <h2><%= post.name %></h3>
                <p><%= post.author %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>

