<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regist.css">
    <script src="/static/js/regist.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="all">
        <h2>Registration</h2>
        <form method="POST" id="form">
            <input type="text" clasa="input" id="username" placeholder="Username">
            <input type="email" name="" clasa="input" id="email" placeholder="Email">
            <input type="password" clasa="input" id="password" placeholder="Password">
            <button type="submit" id="submitButton">Submit</button>
        </form>
        <br/> 
        <a href="/login">переход на страницу login</a>
    </div>
</body>
</html>